body{
	position: absolute;
	width: 90%;
	height: 100%;
}

div {
	background-repeat: no-repeat;
}

.main-container{
	position: relative;
	width: 80%;
	height: 90%;
	margin : 0 10%;
	font-size: 36px;
	top: 20px;
	background: none;
}

.upper-container-news-1{
	position: absolute;
	width: 100%;
	height: 50%;
	-webkit-transform-origin: 50% 100%;
	-moz-transform-origin: 50% 100%;
	-ms-transform-origin: 50% 100%;
	-o-transform-origin: 50% 100%;
	transform-origin: 50% 100%;
	z-index: 2;
	/*border: 2px solid;*/
	/*background: url("../flipboard_images/background.jpg");*/
	background-size: 100% 100%;
	border-top-left-radius: 20px;
	border-top-right-radius: 20px;
	/*padding: 5% 0;*/
}

.upper-container-news-1.no-color{
	background: black;
}

.upper-container-news-2{
	position: absolute;
	width: 100%;
	height: 50%;
	-webkit-transform-origin: 50% 100%;
	-moz-transform-origin: 50% 100%;
	-ms-transform-origin: 50% 100%;
	-o-transform-origin: 50% 100%;
	transform-origin: 50% 100%;
	z-index: 1;
	/*background: url("../flipboard_images/background.jpg");*/
	background-size: 100% 100%;
	border-top-left-radius: 20px;
	border-top-right-radius: 20px;
	/*padding: 5% 0;*/
	/*border: 2px solid;*/
}

.lower-upper-container{
	position: absolute;
	width: 100%;
	height: 50%;
	visibility: hidden;
	/*border: 2px solid;*/
	-webkit-transform-origin: 50% 100%;
	-moz-transform-origin: 50% 100%;
	-ms-transform-origin: 50% 100%;
	-o-transform-origin: 50% 100%;
	transform-origin: 50% 100%;
	-webkit-transform: perspective(2000px) rotateX(-90deg);
	-moz-transform: perspective(2000px) rotateX(-90deg);
	-ms-transform: perspective(2000px) rotateX(-90deg);
	-o-transform: perspective(2000px) rotateX(-90deg);
	transform: perspective(2000px) rotateX(-90deg);
	/*background: url("../flipboard_images/background.jpg");*/
	background-size: 100% 100%;
	border-top-left-radius: 20px;
	border-top-right-radius: 20px;
	/*padding: 5% 0;*/
}

.lower-container-news-1{
	position: absolute;
	width: 100%;
	height: 50%;
	top: 50%;
	/*margin-top: -25%;*/
	z-index: 2;
	/*border: 2px solid;*/
	-webkit-transform-origin: 50% 0%;
	-moz-transform-origin: 50% 0%;
	-ms-transform-origin: 50% 0%;
	-o-transform-origin: 50% 0%;
	transform-origin: 50% 0%;
	/*background: url("../flipboard_images/background.jpg");*/
	background-size: 100% 100%;
	border-bottom-left-radius: 20px;
	border-bottom-right-radius: 20px;
	/*padding: 5% 0;*/
}

.lower-container-news-2{
	position: absolute;
	width: 100%;
	height: 50%;
	top: 50%;
	/*margin-top: -25%;*/
	z-index: 1;
	/*border: 2px solid;*/
	-webkit-transform-origin: 50% 0%;
	-moz-transform-origin: 50% 0%;
	-ms-transform-origin: 50% 0%;
	-o-transform-origin: 50% 0%;
	transform-origin: 50% 0%;
	/*background: url("../flipboard_images/background.jpg");*/
	background-size: 100% 100%;
	border-bottom-left-radius: 20px;
	border-bottom-right-radius: 20px;
	/*padding: 5% 0;*/
}

.upper-lower-container{
	position: absolute;
	width: 100%;
	height: 50%;
	top: 50%;
	/*margin-top: -25%;*/
	/*border: 2px solid;*/
	-webkit-transform-origin: 50% 0%;
	-moz-transform-origin: 50% 0%;
	-ms-transform-origin: 50% 0%;
	-o-transform-origin: 50% 0%;
	transform-origin: 50% 0%;
	-webkit-transform: perspective(2000px) rotateX(90deg);
	-moz-transform: perspective(2000px) rotateX(90deg);
	-ms-transform: perspective(2000px) rotateX(90deg);
	-o-transform: perspective(2000px) rotateX(90deg);
	transform: perspective(2000px) rotateX(90deg);
	/*background: url("../flipboard_images/background.jpg");*/
	background-size: 100% 100%;
	border-bottom-left-radius: 20px;
	border-bottom-right-radius: 20px;
	/*padding: 5% 0;*/
}

div{
	/*background: lightblue;*/
	background: url("../flipboard_images/background.jpg");
}