<?xml version="1.0" encoding="UTF-8" ?>
<widget xmlns = "http://www.w3.org/ns/widgets"
    xmlns:gap = "http://phonegap.com/ns/1.0"
    id        = "com.phonegap.example"
    version   = "1.0.0">

<name>Rupal's</name>
<preference name="orientation" value="portrait" />
<icon src="flipboard_images/icon.jpg" width="128" height="128"/>
<gap:splash src="flipboard_images/splash.png" />
<description>
Flipboard Application
</description>

<author href="https://example.com" email="cheekujha@gmail.com">
Prashant Jha
</author>

</widget>